:root {
  --blue: #00b3ff;
  --blue-light: #00a6ff;
  --red: #ff3d3d;
  --white: white;
  --black: black;
  --green: #38ff29;
  --transparent-gray-2: rgba(128, 128, 128, 0.2);
  --transparent-gray-3: rgba(128, 128, 128, 0.3);
  --transparent-gray-4: rgba(128, 128, 128, 0.4);
  --transparent-gray-5: rgba(128, 128, 128, 0.5);
  --transparent-gray-6: rgba(128, 128, 128, 0.6);
  --transparent-gray-8: rgba(128, 128, 128, 0.8);
  --transparent-black-2: rgba(0, 0, 0, 0.2);
  --transparent-black-3: rgba(0, 0, 0, 0.3);
  --transparent-black-4: rgba(0, 0, 0, 0.4);
  --transparent-black-5: rgba(0, 0, 0, 0.5);
  --transparent-black-7: rgba(0, 0, 0, 0.7);
  --transparent-black-8: rgba(0, 0, 0, 0.8);
  --transparent-red-4: rgba(254, 66, 60, 0.4);
  --transparent-red-5: rgba(254, 66, 60, 0.5);
  --transparent-red-7: rgba(254, 66, 60, 0.65);
  --transparent-red-8: rgba(254, 66, 60, 0.8);
  --transparent-white-4: rgba(255, 255, 255, 0.4);
  --transparent-white-7: rgba(255, 255, 255, 0.65);
  --transparent-white-8: rgba(255, 255, 255, 0.8);
  --transparent-blue-2: rgba(0, 166, 255, 0.2);
  --transparent-blue-4: rgba(0, 166, 255, 0.4);
  --transparent-blue-6: rgba(0, 166, 255, 0.6);
  --transparent-blue-8: rgba(0, 166, 255, 0.8);
  --transparent-green-4: rgba(56, 255, 41, 0.4);
  --transparent-green-7: rgba(56, 255, 41, 0.65);
  --transparent-green-8: rgba(56, 255, 41, 0.8);

  --app-bg: var(--transparent-black-7);
  --header-bg: var(--transparent-black-5);
  --editor-bg: var(--transparent-black-3);
  --editor-icon-bg: var(--transparent-black-3);
  --editor-icon-hover-bg: var(--transparent-black-4);
}
